body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins";
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5vh;
}

.headline {
  color: white;
  font-size: 5vh;
  text-align: center;
  text-shadow: 0.2vh 0.2vh black;
  word-spacing: 2vh;
  font-weight: 900;
}

.tagline {
  color: white;
  background: rgba(0, 0, 0, 50%);
  padding: 1vh;
  font-size: 3vh;
  font-weight: 300;
}

@media (max-width: 320px) {
  body {
    background-image: url("../images/galaxy@320.jpg");
  }
}
@media (min-width: 321px) and (max-width: 853px) {
  body {
    background-image: url("../images/galaxy@900.jpg");
  }
}
@media (min-width: 854px) and (max-width: 1228px) {
  body {
    background-image: url("../images/galaxy@1250.jpg");
  }
}
@media (min-width: 1229px) {
  body {
    background-image: url("../images/galaxy@1440.jpg");
  }
}
