<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
      explicabo? Ratione placeat corrupti quae officia fuga, rerum mollitia
      earum fugiat recusandae sint culpa adipisci molestias enim nesciunt
      laborum quasi nulla?
    </p>
  </div>
</div>
